<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog.org/schema"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Console log -->
		<target name="logconsole"
				xsi:type="Console"
				layout="${longdate} | ${level} | ${message}" />

		<!-- File log -->
		<target name="logfile"
				xsi:type="File"
				fileName="log.txt"
				layout="${longdate} | ${level} | ${message}" />
	</targets>

	<rules>
		<!-- 👇 Debug level and above -->
		<logger name="*" minlevel="Debug" writeTo="logconsole,logfile" />
	</rules>

</nlog>
